@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'Commissioner';
}

body {
    font-family: 'Commissioner' !important;
    a,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Commissioner' !important;
    }
}